<footer class="container pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Feature Nazi</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">No</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Features</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">For</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">You</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">!!!!</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Come</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Back</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">one</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Year</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">!!!!</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Legal</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">No</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Money</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Back</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">!!!!</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="float-end"><a href="#">Back to top</a></p>
    </div>
  </div>
</footer>