<section id="colorPicker" class="container pt-4 pb-4 border-top">
    <h3>
      Pick your ship color!
    </h3>
    <div class="row">
      <img id="shipColorImage" src="images/300i-pics/300i-Citron.jpg" class="mx-auto d-block" alt="image">
    </div>
    <div id="btnGroup" class="btn-group" role="group">
      <button type="button" id="clrbtn1" class="btn"></button>
      <button type="button" id="clrbtn2" class="btn"></button>
      <button type="button" id="clrbtn3" class="btn"></button>
      <button type="button" id="clrbtn4" class="btn"></button>
      <button type="button" id="clrbtn5" class="btn"></button>
      <button type="button" id="clrbtn6" class="btn"></button>
      <button type="button" id="clrbtn7" class="btn"></button>
      <button type="button" id="clrbtn8" class="btn"></button>
    </div>
    <div>
      <h5 id="colorDisplay">
        Citron
      </h5>
    </div>
  </section>